div.currentQuestion {
    background: black;
    color: white;
}

div.correctAnswers, div.incorrectAnswers {
    background: black;
    color: white;
}

div.timer {
    background: black;
    color: white;
}